/* Menú lateral */
.sidebar {
  position: absolute;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #000000;
  color: white;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

/* Elimina el fondo azul al hacer hover sobre el botón de menú */
.menu-button {
  background: none; /* Sin fondo */
  outline: none; /* Elimina cualquier borde al hacer clic */
}

/* Asegúrate de que el hover no cambie el fondo */
.menu-button:hover {
  background-color: transparent; /* Sin fondo en hover */
}

/* Cambia solo el color de las tres rayas al pasar el puntero */
.menu-button:hover .menu-icon {
  color: red; /* Cambia 'red' por el color que prefieras */
}

.menu-icon {
  color: black;
  font-size: 24px;
  transition: color 0.3s;
}

/* Lista del menú lateral */
.menu-list {
  list-style: none;
  padding: 20px;
}

.menu-list li {
  padding: 15px 0;
  cursor: pointer;
  display: flex; /* Alinea icono y texto */
  align-items: center; /* Centra verticalmente el icono y el texto */
  text-align: left; /* Asegúrate de que el texto esté alineado a la izquierda */
}

.menu-list li i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.menu-list li:hover {
  background-color: #f0022a; /* Color de fondo al hacer hover */
}

/* Estilo del menú de usuario */
.user-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 150px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  display: none;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-menu.open {
  display: block;
}

.user-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.user-menu li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.user-menu li:hover {
  background-color: #f0022a;
}

.process-title {
  color: white; /* Color del texto */
  text-align: left; /* Alineación a la izquierda */
  padding: 10px 0; /* Espaciado alrededor del texto */
  border-bottom: 2px solid white; /* Línea blanca debajo del texto */
  margin-bottom: 10px; /* Espacio entre el texto y los elementos de la lista */
}

