/* Estructura General */
.homepage {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Barra superior (topbar) */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-left,
.topbar-center,
.topbar-right {
  display: flex;
  align-items: center;
}

.topbar-left .menu-button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.menu-icon {
  color: #333;
}

.topbar-center {
  justify-content: center;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.topbar-right {
  position: relative;
}

.login-icon {
  font-size: 28px;
  color: #333;
  cursor: pointer;
}

.user-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
}

.user-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.user-menu li {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.user-menu li:hover {
  background-color: #f5f5f5;
}

/* Sidebar (menú lateral) */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding-top: 60px;
  transition: all 0.3s ease;
  z-index: 50;
}

.sidebar.open {
  width: 250px;
}

.sidebar.collapsed {
  width: 80px; /* Menú colapsado con solo íconos */
}

.menu-list {
  list-style: none;
  padding: 20px;
}

.menu-list li {
  padding: 10px 10px; /* Ajuste del padding */
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
}

.menu-list li i {
  margin-right: 10px;
}

.menu-text {
  display: none;
}

.sidebar.open .menu-text {
  display: inline; /* Mostrar texto cuando el menú esté abierto */
}

.menu-list li:hover {
  background-color: #444;
  border-radius: 4px;
}

.sidebar.collapsed .menu-text {
  display: none; /* Esconder el texto cuando esté colapsado */
}

.sidebar.collapsed .menu-list li {
  justify-content: center;
}

.sidebar.collapsed .menu-list li i {
  margin-right: 0;
}

/* Estilo para el título "Procesos" */
.process-title {
  color: white; /* Color blanco para el texto */
  text-decoration: underline; /* Subrayado */
  margin: 0; /* Sin margen */
  padding: 10px 20px; /* Espacio alrededor para una mejor apariencia */
  font-size: 20px; /* Ajustar tamaño de fuente si es necesario */
  line-height: 2.5; /* Espacio entre líneas */
}
