/* Menú lateral */
.sidebar {
  position: absolute;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #000000;
  color: white;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

/* Botón de menú lateral */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  color: black;
  font-size: 24px;
  transition: color 0.3s;
}

/* Lista del menú lateral */
.menu-list {
  list-style: none;
  padding: 20px;
}

.menu-list li {
  padding: 15px 0;
  cursor: pointer;
}

.menu-list li:hover {
  background-color: #f0022a;
}

/* Estilo del menú de usuario */
.user-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 150px;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  display: none;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-menu.open {
  display: block;
}

.user-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.user-menu li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.user-menu li:hover {
  background-color: #f0022a;
}
