.bpm-system {
    position: relative; /* Asegura que los elementos dentro de este contenedor se posicionen correctamente */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Contenedor del formulario y botones */
.form-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: flex-start; /* Alinea a la izquierda */
    margin-bottom: 20px;
    position: relative; /* Para que los elementos dentro se posicionen correctamente */
    z-index: 10; /* Asegura que el contenedor esté por encima de otros elementos */
}

/* Estilos para el campo de texto */
.form-name-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Espacio entre el campo de texto y los botones */
    position: relative; /* Para que el campo de texto tenga su propio contexto de posicionamiento */
    z-index: 5; /* Asegura que el campo de texto esté por encima de otros elementos */
}

/* Estilos para los botones */
.action-button {
    padding: 10px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; /* Espacio entre los botones */
    z-index: 5; /* Asegura que los botones estén por encima de otros elementos */
}

.action-button:hover {
    background-color: #b30018;
}
